canvas {
    box-sizing: border-box;
    width: 100%;
    display: block;
    image-rendering: pixelated;
}

h1{
    font-family: sans-serif;
}

body{
    background-color: #1cc9d9;
}

body { margin: 0; overflow: hidden; }